@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: #ffffff;
    color: #111111;
}

.container {
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 14.5vh;
}

.hero {
    text-align: center;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 80px;
    letter-spacing: 3px;
    line-height: 1.1;
    color: #111111;

    margin: 0;
}

.subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #333;

    margin-top: 70px;
    margin-bottom: 50px;
}

.body {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 30px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.8;
    color: #555555;

    text-align: left;      /* or justify */
}

.body p {
    margin-bottom: 24px;
}

button {
    padding: 14px 30px;
    font-size: 16px;

    border: none;
    border-radius: 8px;

    cursor: pointer;

    transition: 0.25s;
}

button:hover {
    transform: scale(1.05);
}

#message {
    margin-top: 25px;
    font-size: 20px;
    color: #6cff8f;
}
